body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f7e7ce;
}

.container {
    text-align: center;
    background-color: #ffcccb;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #d23669;
    font-size: 3em;
}

.message {
    font-size: 1.5em;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: #d23669;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #c22d60;
}

.hidden {
    display: none;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}
